<app-layout>
    <div class="employee-container">
        <div class="employee-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <ng-container *ngIf="dataSource.data.length !== 0 && isKeyupValue.length > 2 && !isFinish">
            <span class="loading" style="margin-bottom: 20px; display: block;">Proses pencarian data...</span>
        </ng-container>

        <div class="employee-table">
            <mat-table [dataSource]="dataSource" matSort matSortDirection="asc" *ngIf="dataSource.data.length > 0">
                <ng-container matColumnDef="nip">
                    <th id="nip" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        NIP

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.nip}} </td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <th id="fullName" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Full Name

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
                </ng-container>

                <ng-container matColumnDef="nickName">
                    <th id="nickName" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Nick Name

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.nick_name}} </td>
                </ng-container>


                <ng-container matColumnDef="birthDate">
                    <th id="birthDate" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Birth Date

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.birth_date}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th id="address" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Address

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th id="phone" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Phone

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th id="email" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Email

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th id="mobile" mat-header-cell *matHeaderCellDef mat-sort-header class="th-hasSort">
                        Mobile

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th id="action" mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <button class="btn btn-act-table btn-update" (click)="navigateEmployee(element.id)">
                            Update
                        </button>
                        <button class="btn btn-act-table btn-delete" (click)="deleteEmployee(element.id)">
                            Delete
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>

            <ng-container *ngIf="dataSource.data.length === 0 && isKeyupValue.length === 0">
                <span class="loading" style="margin-bottom: 20px; display: block;">Please wait...</span>
            </ng-container>


            <ng-container *ngIf="dataSource.data.length === 0 && isKeyupValue.length !== 0">
                <span class="loading" style="margin-bottom: 20px; display: block;">Data tidak ditemukan...</span>
            </ng-container>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="totalPages"></mat-paginator>

        </div>
    </div>
</app-layout>